
.contenido {
  max-width: 650px;
  margin: 30px auto 20px auto;
  padding: 0 20px;
}


.filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}


.titulo {
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
  font-family: 'Syne', sans-serif;
}


.buscador {
  width: 100%;
  max-width: 600px; 
  padding: 20px 80px;
 border: none;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  margin-bottom: 10px;
  background-color: #cfcecef1;
  margin-top: 50px;
}



.buscador:focus {
  border-color: #3cb989;;
}


.resultados {
  font-size: 13px;
  color: #666;
}


.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 10px auto;
  padding: 14px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  background: #fff;
  font-family: 'Syne', sans-serif;
}


.nombre-carrera {
  font-size: 18px;
}


.boton {
  background:#0062ff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 15px;
}

.boton:hover {
  background: #555555;;
}