.footer {
  background:rgb(222, 229, 229);
  color: rgb(19, 18, 18);
  margin-top: 90px;
  width: 100%;

}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 30px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  color: #3f3e3e;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color:#3f3e3e;
  text-decoration: none;
}

.footer-section a:hover {
  color: rgb(0, 98, 255);
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #161616;
  font-size: 14px;
  color: white;
}